* {
    box-sizing: border-box;
}

.my-page-header {
    grid-area: nav-header;
    background-color: red;
    padding: 40px;
}

.my-page {
    display: grid;
    grid-template-areas:  
    "nav-header"
    
}