* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
    font-family: 'Open Sans', sans-serif;
    }
/*
.body {
    padding: 5px
}
    */


.main {
    font-family:'Open Sans', sans-serif;
    font-weight:bold;
    font-size: 30px;
    text-align: center;

}

.main-nav {
    background-color: #43281c;
    color: #fbf2c0;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
  }


.logo {
    height: 30px;
    position: relative;
    top: 3px;
}

/* grid for page */
.page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 20px;
    width: 100%;
    margin: auto;
    grid-template-areas: 
        "order payment"
}

/* style of the box */
.box {
    background-color: #eee1d5;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
  }

/* style for a title of the box */
.box-title {
    color: #885a2d;
    font-weight: normal;
    font-size: 16px;
}

/*parameters for one order */
.order {
    grid-area: order;
}

.payment {
    grid-area: payment;
  }

.total {
    grid-area: total;
}

/*list of items which are ordered*/
.items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    border-top: 1px solid brown;
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas:
        "quantity title price"
        "quantity options price"
    

}

.item-quantity {
    grid-area: quantity;
}

.item-title {
    grid-area: title;
    font-weight: bold;
}

.item-price {
    grid-area: price;
    font-weight: bold;
}

/* style for NAME */
.input-group {
    position: relative;
    margin-bottom: 20px;
    
  }

.user-input {
    background-color: rgba(0,0,0,0);
    border: 2px #885a2d solid;
    padding: 8px;
    border-radius: 100px;
    width: 100%;
    text-indent: 18px;
    font-size: 18px;
}
/* style for user input*/
.user-input-label {
    /*place for further code */
    color: #885a2d;
    background-color: #eee1d5 ;
    font-size: 11px;
    position: absolute;
    left: 25px;
    top: -7px;
    padding: 0 2px;
}

