* {
    box-sizing: border-box;
    }

.body {
    padding: 5px
}

.page {
    display: grid;
    grid-template-areas: "header header";
}

.main {
    font-family:'Open Sans', sans-serif;
    font-weight:bold;
    font-size: 30px;
    text-align: center;

}
.main-header {
    grid-area: header;
}